*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

html{
	scroll-behavior: smooth;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.icon-circle{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #222326;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 30px;
	transform: scale(0);
	transition: .5s;
}


.icon-wrapper{
		position: relative;
}


.fa-glasses, .icon-circle{
	font-size: 3rem;
	transition-duration: .3s;
	overflow: hidden;
}

.fa-glasses:hover + .icon-circle{
	transform: scale(1);
}

.fa-glasses:hover{
	color: white;
	cursor: pointer;
}

.jumbotron{
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	height: 100vh;

}

.to-left{
	display: inline-block;
	margin: 0 auto;
}
.to-left *{
	text-align: left;
}
.green{
	color: #69c166;
}
.jumbotron h1{
	font-size: 6rem;
	font-family: 'Prompt', sans-serif;
	transition: .5s;
}

.jumbotron h2, .talk{
	font-family: 'KoHo', sans-serif;
	font-size: 3rem;
	font-weight: 200;
	padding-top: 30px;
	transition: .5s;
}

.inline-block{
	display:inline;
}
.jumbotron-header-wrapper{
	display: flex;
	flex-direction: column;
}

.ampersand{
	font-size: 15rem;
}

.info {
	font-family: 'Prompt', sans-serif;
	background-color: #34373d;
}

.info-header h1, .my-skills h1{
	text-align: center;
	font-size: 3rem;
	color: white;
	margin-top: 30px;
}

.my-traits{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.trait-wrapper{
	background-color: #4c4c4c;
	box-shadow: 5px 10px 20px rgba(0,0,0,.2);
	width: 400px;
	flex-grow: 1;
	margin: 10px;
	text-align: center;	
	overflow: hidden;
	border-radius: 30px;

}

.trait-wrapper:hover i{
	transform: translateY(-20px);
}

.trait-wrapper i{
	margin-top: 80px;
	color: #dfe540;
	font-size: 10em;
	overflow: hidden;
	transition-duration: .5s;
}

.trait-wrapper h1{
	color: white;
	margin-top: 10px;
}

.trait-wrapper p{
	color: white;
	margin: 20px 20px;
	font-size: 1.25rem;
	font-family: 'KoHo', Sans-serif;
}

.talk{
	font-size: 2rem;
	color: #69c166;
	border: 2px solid #69c166;
	padding: 15px;
	border-radius: 25px;
	transition: .5s;
}

.talk:hover{
	color: black;
	border-color: black;
	cursor: pointer;
}

.underline{
	text-decoration: underline;
}

.fa-arrow-right{
	font-size: 5rem;
	overflow: hidden;
	margin-top: 50px;
	transition: .5s;
	text-decoration: none;
	color: black;
}

.fa-arrow-right:hover{
	animation-play-state: paused;
	color: #69c166;
	cursor: pointer;
	transform: rotate(90deg);
}

.section{
	width: 100vw;
	overflow:hidden;
	transition: .5s;
}

.my-skills-wrapper{
	width: 80vw;
	max-width: 1500px;
	margin: 20px auto;
	background-color: #4c4c4c;
	box-shadow: 5px 10px 20px rgba(0,0,0,.2);
	border-radius: 20px;
}

.bar-wrapper{
	display: flex;
	margin: 5px;
	opacity: .8;
}

.bar-wrapper:hover{
	opacity: 1;
}

.bar-wrapper:hover .meter{
	background-color:  #69c166;
}

.bar-header{
	width: 150px;
	text-align: center;
	color: white;
	font-size: 1.5em;
	background-color: #303030;
	cursor: context-menu;
}

.bar{
	position: relative;
	flex-grow: 1;
	text-align: center;
	padding-top: 6px;
	background-color: #feffed;
}

.meter{
	position: absolute;
	top:0;
	left:0;
	width: 92%;
	height: 100%;
	background-color: #dfe540;
	z-index:2;
	transition: .2s;
}


.other-skills{
	background-color: #4c4c4c;
	box-shadow: 5px 10px 20px rgba(0,0,0,.2);
	width: 80%;
	margin: 30px auto;
	border-radius: 20px;
}

.other-skills ul{
	overflow: hidden;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.other-skills ul li{
	background-color: #69c166;
	box-shadow: 5px 10px 20px rgba(0,0,0,.2);
	border-radius: 10px;
	display: inline-block;
	color: white;
	font-size: 1.5rem;
	margin: 10px;
	padding: 10px;
	transition: .2s;
	cursor: context-menu;
}

.other-skills ul li:hover{
	transform: scale(1.2);
}
/* SCROLL BAR STYLE */

/* width */
::-webkit-scrollbar {
    width: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #69c166; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #69c166; 
}


/* MEDIA QUERIES */
@media screen and (max-width: 1082px){
	.fa-glasses{
		font-size: 2rem;
	}
	.talk{
		font-size: 1rem;
		padding: 10px;
	}

	.jumbotron h1{
		font-size: 3rem;
	}

	.jumbotron h2, .talk{
		font-size: 1.5rem;
	}
	.ampersand{
		font-size: 7.5rem;
	}
	.fa-arrow-right{
		font-size: 3rem;
	}
	.jumbotron{
		height: auto;
	}
	.info-header h1, .my-skills h1{
		font-size: 2rem;
	}
	.bar-header{
		font-size: 1em;
		width: 100px;
	}
	.trait-wrapper i{
		font-size: 5em;
	}
}



@media screen and (max-width: 538px){
	.fa-glasses{
		font-size: 2rem;
	}
	.talk{
		font-size: 1rem;
		padding: 5px;
	}

	.jumbotron h1{
		font-size: 2rem;
	}

	.jumbotron h2, .talk{
		font-size: 1rem;
	}
	.ampersand{
		font-size: 7.5rem;
	}

	.fa-arrow-right{
		font-size: 2.5rem;
	}

}
