<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
		<link href="https://fonts.googleapis.com/css?family=KoHo|Prompt" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="shortcut icon" type="image/x-icon" href="http://localhost:3000/favicon.ico">

		<title>John Ray Martinez | Web Developer</title>
	</head>
	<body>
		<div class="container">
			<div class="section jumbotron">
				<div class="to-left jumbotron-header">
					<div class="first-line-wrapper">
							<h1>Front-End<br>     <span class="green">Back-End</span></h1>		
					<span class="ampersand"> & </span>
					</div>
					<h1>Friendship <span class="green">Developer</span></h1>
					<h2>Let us make <em>something</em> into <span class='green'><em>something better</em>. </span></h2>
					<a class="fas fa-arrow-right" href="#next"></a>
				</div>
			</div>
			<div class="jumbotron-overlay">
				
			</div>
			<div class="jumbotron-overlay2 jumbotron">
				<h1 class="first">Hello <span class="green emphasize">World!</span></h1>
				<h1 class="second">My name is <span class="green emphasize">John</span></h1>
				<h1 class="third">And I <span class="green">am a </span></h1>
			</div>
		</div>
	
		<div id="next" class="section info hidden">
			<div class="info-header">	
				<div class="me">
					<img src="mypic.jpg"/>
					<p>Hi there! My name is <span class="green">John Ray </span>and I am a <span class="green">web developer</span> based in <span class="green">Toronto, Canada.</span> I enjoy traveling, playing games and trying out new things! I am <span class="green">currently looking for employment</span> in the <span class="green">web development field</span> where I can contribute using my current set of skills while also learning new technologies to improve my skillset.</p>	
				</div>	
				
			</div>				
			<div class="my-traits">
				<!-- Traits will be displayed here -->
			</div>
			<div class="my-skills">
				<h1>My <span class="green">Skills</span></h1>
				<div class="my-skills-wrapper">
					<!-- Skills table with bars goes here -->
				</div>

				<h1>Other <span class="green">Skills</span></h1>
				<div class="other-skills">
					<ul>
						<!-- other skills list goes here -->
					</ul>
				</div>
			</div>
		</div>
		<div class="section projects">
			<h1>My <span class="green">Projects</span></h1>
			<div class="projects-wrapper">
				<!-- Projects go here -->
			</div>
		</div>
		<div class="section testimonials">
			<h1>What People <span class="green">Say</span> <br>About <span class="green">Me</span></h1>
				<!-- testimonials go here -->
		</div>
			<h2 class="testi">Leave a <span class="green"> testimonial? </span><i class="fas fa-comment add-testi"></i></h2>
			<div class="blanket">
				<div class="testi-form-wrapper">
					<div class="alert"><p></p></div>
					<form action="" method="" class="to-submit">
							<table>
								<thead><h1>Add Testimonial <i class="closeForm fas fa-times"></i></h1></thead>
								<tr>
									<td><label for="image URL"> Photo URL </label></td>
									<td><input id="img" type="text" name="img" placeholder="Paste image url. example: http://www.google.com/search?potato218738asdjkas213"> </td>
								</tr>	
								<tr>
									<td><label for="position"> Job Title </label></td>
									<td><input id="position" type="text" name="position" placeholder="example: Frontend Web Developer"> </td>
								</tr>	
								<tr>
									<td><label for="company"> Company </label></td>
									<td><input id="company" type="text" name="company" placeholder="example: Imagine nation"> </td>
								</tr>	
							
								<tr>
									<td><label for="author"> Author<span class="red">*</span> </label></td>
									<td><input id="author" type="text" name="author" placeholder="example: Joe Smith"> </td>
								</tr>	
								<tr>
									<td><label for="headline"> Headline<span class="red">*</span></label></td>
									<td><input id="headline" type="text" name="headline" placeholder ="example: An interesting and efficient fellow!"> </td>
								</tr>	
									<tr>

									<td><label for="message"> Message<span class="red">*</span></label></td>
									<td><textarea id="message" name="message"></textarea></td>
								</tr>
								<tr>
									<td></td>
									<td><button class="submit" type="submit">Submit</button>
									</td>
								</tr>	
							</table>				
					</form>
				</div>
			</div>
				
		<footer class="section">
			<div class="contact-me">
				<h1>Contact <span class="green">Me </span></h1>
				<a class="fab fa-facebook-square" href="https://www.facebook.com/warmdawg" target="_blank" title="Link to my facebook account"></a>
				<a class="fab fa-linkedin" href="https://www.linkedin.com/in/john-ray-martinez-b5947511b/" target="_blank" title="Link to my twitter account"></a>
				<a class="fab fa-github" target="_blank" href="https://github.com/john-martinez" title="Link to my github account"></a>
				<a id="emailCopy" class="fas fa-envelope-square" title="Send email"></a>
				<p>JOHN RAY MARTINEZ <span class="yellow">©</span> <span class="green">2018</span> </p>
			</div>
		</footer>
		<script type="text/javascript" src="app.bundle.js"></script>
	</body>
</html>